<div class="row">
  <div class="col-lg-9 mx-auto">
    <h2 class="text-center"><%- page.title %></h2>

    <p class="text-center mb-5">Dalam <%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %> — <%- full_date(page.date, 'll') %></p>
    <%- page.content%>
    <%- partial('partial/comments') %>
  </div>

</div>
