<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Adi Sakti Jrs Blog Space</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%- css('css/normalize.css') %>
  <%- css('css/skeleton.css') %>
  <%- css('css/custom.css') %>
  <%- css('css/prism-dark.css') %>
  <%- css('css/prism-line-numbers.css') %>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="eight columns  offset-by-two">

        <%- partial('partial/header', {title: 'Hi Folks'}) %>
        <%- body %>
      </div>

    </div>

  </div>
</body>

</html>
