  <h4><%- page.title %></h4>

  <p>Dalam <%- list_tags(page.tags, {class: 'classtest', show_count: false, style: false}) %> — <%- full_date(page.date, 'll') %></p>
  <%- page.content%>
  <%- partial('partial/comments') %>
